// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

main > section {

  border-style: solid;
  grid-template-columns: 2/3;

}

.complete {
  text-decoration: line-through;
}

main section a {
  text-decoration: none;

}
